html {
    font-size: 62.5%;
}

body {
    font-size: 1em;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right:0;
    left:0;
    bottom:0;
}

body * {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

.new-class {
    color: red;
}

